<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hori Hori</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="homepage">
  <header class="display-flex justify-space-between align-center p-2">
    <div class="container">
        <h1 class="title">
          Hori Hori
        </h1>
        <nav>
          <button class="btn" id="login">Login</button>
        </nav>
        {{#if logged_in}}
        <nav>
          <button class="btn" id="logout">Logout</button>
        </nav>
        {{/if}}
        <nav>
          <button class="btn" id="signup">Sign Up</button>
      </nav>
    </div>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
 
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
