<div class="dashboard">
  <h1>Welcome to Your Dashboard!</h1>
  {{!-- <ul>
    {{!-- {{#each pins}}
    <li>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
    </li>
    {{/each}} --}}
  {{!-- </ul> --}}
  {{!-- <a href="/addpin">Add Pin</a> --}}
</div>