<div class="dashboard">
  <h2 class="welcome">Welcome to Your Dashboard {{user}}!</h2>             
    <div class="pins-history">
      <ul>
        {{#each pins}}
        {{!-- <li>
          <h2>{{plant_id}}</h2>
          <p>{{description}}</p>
        </li> --}}
        {{/each}} 
      </ul>
    </div>
    <nav class='row'>        
      <button class="dash-btn" id="add-pin"><a href="/map">Add Pin</a></button>
      <button class="dash-btn" id="logout"> Logout </button>
    </nav>
</div>
