<div class="dashboard">
  <h3>Welcome to Your Dashboard!</h3>
  <ul>
    {{#each pins}}
    {{!-- <li>
      <h2>{{plant_id}}</h2>
      <p>{{description}}</p>
    </li> --}}
    {{/each}} 
  </ul>
  <a href="/map">Add Pin</a>
</div>