<div class="dashboard">
  <h2 class="welcome">Welcome to Your Dashboard {{user.username}}!</h2>             
    <div class="pins-history">
      <ul>
        {{#each pins}}
        {{!-- <li>
          <h2>{{plant_id}}</h2>
          <p>{{description}}</p>
        </li> --}}
        {{/each}} 
      </ul>
    </div>
    <footer>
      <nav class='row'>        
        <button class="dash-btn add" id="add-pin">Add Pin</button>
        <button class="dash-btn" id="logout"> Logout </button>
      </nav>
    </footer>
</div>
<script src="/js/logout.js"></script>
