<div class="container">
        <h1 class="title">
          Hori Hori
        </h1>        
    </div>

<div>    
    <h3 class="intro-title">What We Do</h3> 
        <div class="intro-text">
            <p>We monitor the location and growth of invasive species of plants.</p>
            <p>With your help we can keep this troublesome foliage out of our gardens!</p>   
        </div>
    <nav>
        <button class="btn" id="login"><a href="/login">Get Started</a></button>
        {{#if logged_in}}
        <button class="btn" id="logout"> Logout </button>
        {{/if}}        
    </nav>
</div>