<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
  <link rel="stylesheet" href="/css/map.css">
</head>

<div>
    <h3>Map Page</h3>
    <h5>To get started, please enable location sharing</h5>
    <button id="share-location-btn">Share your location</button>
    <button id="goBack">Go Back</button>
</div>
<div id="map">
    
</div>

<script src="/js/map.js"></script>