<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<div>
    <h3>Map Page</h3>
    <h5>To get started, please enable location sharing</h5>
    <button id="share-location-btn">Share your location</button>
</div>
<div id="map-element">
    
</div>

<script src="/js/map.js"></script>