<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
  <link rel="stylesheet" href="/css/map.css">
</head>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h3>Drop a Pin</h3>
  <h5>To get started, please enable location sharing. Fill out the form to drop a pin on an invasive plant species if you spot one!</h5>
    <div class="btn-group">
      <button class='btn' id="share-location-btn">Share your location</button>
      <button class='btn' id="goBack">Go Back</button>
    </div>
</div>
<div id="map">
    
</div>

<script src="/js/map.js"></script>