<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
  <link rel="stylesheet" href="/css/pin.css">
</head>
<h3>{{plant}}</h3>
<!-- Render Map with saved pin data-->
<div id="pin-map">


</div>

<button id="goBack">Go Back</button>
<script src="/js/pin.js"></script>