#pin-map {
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2px;
}

img {
  display: block;
}