:root {
    --user-color: #0b2a92;
    --background: #92a143;
    --text: #010101;
    --banner: 
}

* {
    box-sizing: border-box;
  }

#homepage {    
    background-image: url('/img/plant-banner.png');
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--text);
    line-height: 1.5;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #92a143;
    height: 100vh;
  }

.title {      
    margin: 0;
    color: green;
    line-height: 2.2;
    align-items: center;
    text-align: center;
    padding-top: 170px;
    font-size: 75px;
  }
  
.intro-title {
  text-align: center;
  line-height: 2.2;
  
}

.intro-text,
.intro {
  text-align: center;
  
}

#banner {  
  background-position: center;
  width: 100%;
 
  
}

nav {
  text-align: center;
  padding-top: 50px;
  margin: 15px;
  margin-top: -30px;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  
}